{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block includes%}
{#<script src=""></script>#}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block content %}
<div class="col-md-6">
<h1>Register a new account</h1>
<br><br>
{% if errors|length > 0 %}
	<div class="alert alert-danger">
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form class="form-horizontal" action="./registration" method="post">
{{ include('macros/csfr.html') }}
<div class="form-group">
	<label class="control-label col-md-4" for="username">Username</label>
	<div class="col-md-8">
		<input type="text" name="username" id="username">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-4" for="email">Email address</label>
	<div class="col-md-8">
		<input type="text" name="email" id="email">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-4" for="password">Password</label>
	<div class="col-md-8">
		<input type="password" name="password" id="password">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-4" for="confirmpassword">Confirm password</label>
	<div class="col-md-8">
		<input type="password" name="confirmpassword" id="confirmpassword">
	</div>
</div>
<div class="g-recaptcha" style="padding: 0px 0px 10px 55px;" data-sitekey="6LcxvgsUAAAAAInewMgLvyQ3EeJRTJxwu5T21kua"></div>
<div class="col-md-10 col-md-offset-3">
	<input type="button" class="btn btn-default" onclick="location.href='../'" value="Cancel">
	<input type="submit" value="Register" class="btn btn-primary">
</div>
</form>
</div>
{% endblock %}
